@charset "UTF-8";


img{
  border: solid 3px #00ff00;
  width: 25%;
}

@media only screen and (orientation: landscape){
  body{
    background-color: #57715d;
    font-family: 'Consolas', sans-serif;
    color: #fff;
  }
}
